@import "tailwindcss";
@layer base{
   :root{
    --backround:#2B2A3B;
    --primary:#03D5C6;
    --foreground:#FFFFFF;
    --border:#999797;
    --secondary:#918d8d1e;
    --primary-hover:#48615f;

   }

   body{
 
   }


}
@layer utilities{
  .bg-background{
    background-color:var(--backround); 

  }
  .border-border{
    border:0.5px solid var(--border)
  }
  .text-foreground{
    color: var(--foreground);
  }
  .text-primary{
    color:var(--primary)
  }
  .bg-primary{
    background-color: var(--primary);
  }
  .text-background{
    color: var(--backround);
  }
  .bg-foreground{
    background-color: var(--foreground);
  }
  .bg-secondary{
background-color: var(--secondary);
  }
  .bg-primary-hover{
    background-color: var(--primary-hover);
  }
}




